/* src/components/Footer/Footer.css */

.footer {
    text-align: center;
    padding: 10px;
    background-color: var(--color-primario);
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: var(--fuente-secundaria);
  }
  